.whb(@w,@h,@b){
    width: @w;
    height: @h;
    background: @b;
}
.re(@re:relative){
    position: @re;
}
.ab(@ab:absolute){
    position:@ab;
}
*{
    padding: 0;
    margin: 0;
}
body{
    position: relative;
}
.header{
    .whb(100%,50px,#7ab439);
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    .header_sub{
        .whb(100%,16px,none);
        text-align: center;
        line-height: 50px;
        h1{
            font-size: 15px;
            color: #fff;
        }
        .menu{
            .whb(20px,18px,none);
            .ab;
            top: 16px;
            left: 25px;
            background: url(../img/home/menu.png) no-repeat center;
            background-size:100% ;
        }
        .search{
            .whb(16px,20px,none );
            .ab;
            top: 17px;
            right: 25px;
            background: url(../img/home/search.png) no-repeat;
            background-size:100%;
        }
    }
}
.nav{
    .whb(100%,55px,none);
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 100;
    div{
        .whb(50%,55px,#263238);
        float: left;
        line-height: 55px;
        text-align: center;
        color: #fff;
        font-size: 12px;
    }
    .here{
        border-bottom: 3px solid #90a4ae;
        box-sizing: border-box;
    }
}
.main{
    width: 100%;
    height: 100%;
    margin-top: 105px;
    
    ul{
        li{
            .whb(100%,90px,none);
            border-bottom: 1px solid  rgba(0,0,0,0.3);
            box-sizing: border-box;
            background-size:100% 100%;
            .re;
            .li_div{
                .whb(100%,89px,rgba(0,0,0,0.5));
                .ab;
                top: 0;
                .div_l{
                    .whb(60%,90px,none);
                    padding-left: 10px;
                    .ab;
                    top: 0;
                    left: 0;
                    color: #fff;
                    font-weight: bold;
                    text-align: left;
                    h1{
                        font-size: 18px;
                        margin-top: 18px;
                    }
                    span{
                        font-size: 9px;
                        color: yellow;
                    }
                    p{
                        font-size: 9px;
                    }
                }
                .div_r{
                    .whb(40%,90px,none);
                    padding-right: 20px;
                    .ab;
                    top:0;
                    right:0;
                    text-align: right;
                    color: #fff;
                    h1{
                        font-size: 22px;
                        margin-top: 25px;
                    }
                    p{
                        font-size: 8px;
                        font-weight:bold ;
                    }
                }
            }
        }
        .li1{
            background: url(../img/home/img1.jpg) no-repeat center;
        }
        .li2{
            background: url(../img/home/img2.jpg) no-repeat center;
        }
        .li3{
            background: url(../img/home/img3.jpg) no-repeat center;
        }
        .li4{
            background: url(../img/home/img4.jpg) no-repeat center;
        }
        .li5{
            background: url(../img/home/img1.jpg) no-repeat center;
        }
    }
}
