* {
  padding: 0;
  margin: 0;
}
body {
  position: relative;
}
.header {
  width: 100%;
  height: 50px;
  background: #7ab439;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
}
.header .header_sub {
  width: 100%;
  height: 16px;
  background: none;
  text-align: center;
  line-height: 50px;
}
.header .header_sub h1 {
  font-size: 15px;
  color: #fff;
}
.header .header_sub .menu {
  width: 20px;
  height: 18px;
  background: none;
  position: absolute;
  top: 16px;
  left: 25px;
  background: url(../img/home/menu.png) no-repeat center;
  background-size: 100% ;
}
.header .header_sub .search {
  width: 16px;
  height: 20px;
  background: none;
  position: absolute;
  top: 17px;
  right: 25px;
  background: url(../img/home/search.png) no-repeat;
  background-size: 100%;
}
.nav {
  width: 100%;
  height: 55px;
  background: none;
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 100;
}
.nav div {
  width: 50%;
  height: 55px;
  background: #263238;
  float: left;
  line-height: 55px;
  text-align: center;
  color: #fff;
  font-size: 12px;
}
.nav .here {
  border-bottom: 3px solid #90a4ae;
  box-sizing: border-box;
}
.main {
  width: 100%;
  height: 100%;
  margin-top: 105px;
}
.main ul li {
  width: 100%;
  height: 90px;
  background: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  background-size: 100% 100%;
  position: relative;
}
.main ul li .li_div {
  width: 100%;
  height: 89px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
}
.main ul li .li_div .div_l {
  width: 60%;
  height: 90px;
  background: none;
  padding-left: 10px;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  font-weight: bold;
  text-align: left;
}
.main ul li .li_div .div_l h1 {
  font-size: 18px;
  margin-top: 18px;
}
.main ul li .li_div .div_l span {
  font-size: 9px;
  color: yellow;
}
.main ul li .li_div .div_l p {
  font-size: 9px;
}
.main ul li .li_div .div_r {
  width: 40%;
  height: 90px;
  background: none;
  padding-right: 20px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  color: #fff;
}
.main ul li .li_div .div_r h1 {
  font-size: 22px;
  margin-top: 25px;
}
.main ul li .li_div .div_r p {
  font-size: 8px;
  font-weight: bold ;
}
.main ul .li1 {
  background: url(../img/home/img1.jpg) no-repeat center;
}
.main ul .li2 {
  background: url(../img/home/img2.jpg) no-repeat center;
}
.main ul .li3 {
  background: url(../img/home/img3.jpg) no-repeat center;
}
.main ul .li4 {
  background: url(../img/home/img4.jpg) no-repeat center;
}
.main ul .li5 {
  background: url(../img/home/img1.jpg) no-repeat center;
}
