* {
	padding: 0;
	margin: 0;
}
/*头部*/
.header {
	width: 100%;
	height: 45px;
	line-height: 45px;
	background: #fff;
	padding-left: 10px;
	box-sizing: border-box;
	border-bottom: 1px solid #d2d2d2;
	position: fixed;
	top: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #555;
	font-size: 14px;
}

.header-img {
	display: block;
	width: 30px;
	height: 30px;
	/*background: green;*/
	border: 1px solid #999;
	overflow: hidden;
	border-radius: 3px;
	float: left;
	margin-top: 7.5px;
}

.header-img img {
	width: 100%;
	height: 100%;
}


/*.header .header_sub {
	width: 100%;
	margin-left: 10px;
	margin-right: 10px;
	color: #222;
	font-size: 14px;
	line-height: 45px;
}*/

.main {
	background: #f0f0f0;
	margin-top: 45px;
	width: 100%;
	overflow-y: auto;
	box-sizing: border-box;
	padding-bottom: 70px;
	box-sizing: border-box;
}

/*左侧语音样式*/

.main .news_l {
	width: 100%;
	min-height: 55px;
	/*background: red;*/
	margin-top: 10px;
}

.main .news_l .head_img {
	width: 42px;
	height: 42px;
	float: left;
	margin-top: 6px;
	margin-left: 10px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	border-radius: 5px;
	border: 1px solid #999;
	overflow: hidden;
}

.head_img img {
	vertical-align: middle;
	max-height: 42px;
	max-width: 42px;
}

.main .news_l .l_n {
	width: 60%;
	min-height: 42px;
	float: left;
	margin-left: 12px;
	margin-top: 6px;
}

 .main .l_t {
	width: 100%;
	height: 15px;
	line-height: 10px;
	font-size: 12px;
}

.main .l_b {
	min-width: 70%;
	max-width: 80%;
	min-height: 27px;
	background: none;
	border: 1px solid #eaeaea;
	border-radius: 3px;
	float: left;
	background: #fff;
}

.yytime {
	float: left;
	font-size: 12px;
	margin-top: 5px;
	color: #666;
	margin-left: 5px;
}

.l_b1 {
	display: block;
	width: 100%;
	min-height: 27px;
	word-break: break-all;
	padding: 3px;
	box-sizing: border-box;
	font-size: 12px;
	line-height: 14px;
	box-sizing: border-box;
	/*letter-spacing:0.3px;*/
}



.yybl {
	width: 18px;
	height: 18px;
	float: left;
	background: url(../img/au3.png) center no-repeat;
	background-size: auto 100%;
	margin-top: 2px;
	margin-left: 5px;
}

/**********************左侧语音样式************************/


/*聊天时间戳*/
.time {
	width: 100%;
	margin-top: 25px;
	margin-bottom: 20px;
	float: left;
	/*background: red;*/
}


.time_n {
	width: 100px;
	border-radius: 5px;
	height: 18px;
	background: rgba(0, 0, 0, 0.3);
	line-height: 18px;
	font-size: 11px;
	color: #fff;
	margin: 0 auto;
	text-align: center;
}

/***********************聊天时间戳***********************/


/*右侧语音消息*/
.main .news_r {
	width: 100%;
	min-height: 55px;
	margin-top: 10px;
	/*background: green;*/
	float: right;
}

.main .news_r .head_img_r {
	width: 42px;
	height: 42px;
	float: right;
	margin-top: 6px;
	margin-right: 10px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	border-radius:5px ;
	overflow: hidden;
	border: 1px solid #d8d8d7;
	
}

.head_img_r img {
	vertical-align: middle;
	max-height: 42px;
	max=width: 42px;
	
}

.r_n {
	width: 60%;
	min-height: 42px;
	float: right;
	margin-right: 12px;
	margin-top: 6px;
}

.r_t {
	width: 100%;
	height: 15px;
	line-height: 10px;
	font-size: 12px;
	float: right;
	text-align: right;
}

.r_b {
	width: 70%;
	min-height: 27px;
	background: none;
	border: 1px solid #eaeaea;
	border-radius: 3px;
	float: right;
	background: #9fec54;
}

.yytimer {
	float: right;
	font-size: 12px;
	margin-top: 5px;
	color: #666;
	margin-right: 5px;
}

.r_b1 {
	display: block;
	width: 100%;
	min-height: 27px;
}

.yybr {
	width: 18px;
	height: 18px;
	float: right;
	background: url(../img/au33.png) center no-repeat;
	background-size: auto 100%;
	margin-top: 5px;
	margin-right: 5px;
}

/************************右侧语音消息***************/

/*左边输入文字样式*/

.news_lx {
	width: 100%;
	min-height: 55px;
	margin-top: 10px;
	float: left;
}

.main .news_lx .head_img_lx {
	width: 42px;
	height: 42px;
	float: left;
	margin-top: 6px;
	margin-right: 10px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	border-radius:5px ;
	overflow: hidden;
	border: 1px solid #d8d8d7;
	margin-left: 10px;
	
}

.head_img_lx img {
	vertical-align: middle;
	max-height: 42px;
	max=width: 42px;
	
}

.l_nx {
	width: 60%;
	min-height: 42px;
	float: left;
	margin-right: 12px;
	margin-top: 6px;
}

.l_tx {
	width: 100%;
	height: 15px;
	line-height: 10px;
	font-size: 12px;
	float: left;
	text-align: left;
}

.l_bx {
	max-width: 80%;
	min-height: 27px;
	border: 1px solid #eaeaea;
	border-radius: 3px;
	float: left;
	background: #fff;
	padding: 3px 6px 3px 3px ;
	box-sizing: border-box;
	word-break: break-all;
}

/*****************左边输入文字样式***************/

/*发送图片的样式*/
.big{
	width:42px;
	height: 42px;
	/*background: red;*/
	float: left;
	margin-left: 5px;
	margin-bottom: 3px;
}
.big img{
	width: 100%;
	height: 100%;
	
}

/*********************发送图片的样式**************************/


/*右边输入文字样式*/
.news_rx {
	width: 100%;
	min-height: 55px;
	margin-top: 10px;
	float: right;
}

.main .news_rx .head_img_rx {
	width: 42px;
	height: 42px;
	float: right;
	margin-top: 6px;
	margin-right: 10px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	border-radius:5px ;
	overflow: hidden;
	border: 1px solid #d8d8d7;
	
}

.head_img_rx img {
	vertical-align: middle;
	max-height: 42px;
	max=width: 42px;
	
}

.r_nx {
	width: 60%;
	min-height: 42px;
	float: right;
	margin-right: 12px;
	margin-top: 6px;
}

.r_tx {
	width: 100%;
	height: 15px;
	line-height: 10px;
	font-size: 12px;
	float: right;
	text-align: right;
}

.r_bx {
	max-width: 80%;
	min-height: 27px;
	background: none;
	border: 1px solid #eaeaea;
	border-radius: 3px;
	float: right;
	background: #9fec54;
	padding: 3px 6px 3px 3px ;
	box-sizing: border-box;
	word-break: break-all;
}

/************************右边输入文字样式***************************/





/*填充输入时的框变高问题*/
.chong{
	width: 100%;
	height: 0px;
	background: red;
	margin-bottom: 65px;
	float: left;
}




/*页面的底部*/

.footer {
	width: 100%;
	padding-bottom: 10px;
	border-top: 1px solid #d2d2d2;
	position: fixed;
	bottom: 0px;
	background: #fff;
}

.footer_1 {
	width: 100%;
	height: 100%;
	padding-left: 56px;
	padding-right: 80px;
	box-sizing: border-box;
}

.footer .up_img {
	width: 36px;
	height: 36px;
	border-radius: 3px;
	position: fixed;
	left: 10px;
	bottom: 9px;
	background: url(../img/upload.png) no-repeat;
	background-size: 100% 100%;
	outline: none;
}

.footer .ipt {
	min-height: 36px;
	padding-top: 4px;
	padding-bottom: 2px;
	padding-left: 8px;
	width: 100%;
	border-radius: 3px;
	border: 1px solid #afafaf;
	box-sizing: border-box;
	margin-top: 10px;
	outline: none;
	font-size: 15px;
	line-height: 20px;
	max-height: 100px;
	overflow-y: auto;
}

.footer .up_text {
	width: 60px;
	height: 36px;
	border-radius: 3px;
	background: #44a1ef;
	color: #fff;
	font-size: 15px;
	border: none;
	position: fixed;
	right: 10px;
	bottom: 9px;
	outline: none;
}